name: "update telegram ruleset"

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  extract:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Update Telegram Ruleset
        run: |
          mkdir -p './ruleset'
          curl -s -o './ruleset/telegram.tmp' 'https://core.telegram.org/resources/cidr.txt' 
          awk '
            /^[0-9]/ { print "IP-CIDR," $0 }
            /^[:0-9a-fA-F]/ { print "IP-CIDR6," $0 }
          ' './ruleset/telegram.tmp' > './ruleset/telegram.list'
          rm -f './ruleset/telegram.tmp'
          
      - name: save caches if local change
        if: success()
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add .
          if ! git diff --staged --exit-code 1>>/dev/null; then
            git commit -m 'Update telegram ruleset'
            git push
          fi

  remove_all_old_actions:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: invalidunit/action/.github/workflows/remove_all_actions.yml@main
